distributed-process*
network-transport*
rank1dynamic
distributed-static
azure-service-api
distributed-process
distributed-process-platform
distributed-process-demos
distributed-process-simplelocalnet
distributed-process-tests
packages*
.cabal-sandbox
*.repo
cabal.sandbox.config

