[submodule "network-transport"]
	path = network-transport
	url = https://github.com/haskell-distributed/network-transport
[submodule "network-transport-composed"]
	path = network-transport-composed
	url = https://github.com/haskell-distributed/network-transport-composed
[submodule "network-transport-inmemory"]
	path = network-transport-inmemory
	url = https://github.com/haskell-distributed/network-transport-inmemory
[submodule "network-transport-tcp"]
	path = network-transport-tcp
	url = https://github.com/haskell-distributed/network-transport-tcp
[submodule "network-transport-tests"]
	path = network-transport-tests
	url = https://github.com/haskell-distributed/network-transport-tests
[submodule "rank1dynamic"]
	path = rank1dynamic
	url = https://github.com/haskell-distributed/rank1dynamic
[submodule "distributed-static"]
	path = distributed-static
	url = https://github.com/haskell-distributed/distributed-static
[submodule "distributed-process"]
	path = distributed-process
	url = https://github.com/haskell-distributed/distributed-process
[submodule "distributed-process-platform"]
	path = distributed-process-platform
	url = https://github.com/haskell-distributed/distributed-process-platform
[submodule "distributed-process-extras"]
	path = distributed-process-extras
	url = https://github.com/haskell-distributed/distributed-process-extras
[submodule "distributed-process-async"]
	path = distributed-process-async
	url = https://github.com/haskell-distributed/distributed-process-async
[submodule "distributed-process-client-server"]
	path = distributed-process-client-server
	url = https://github.com/haskell-distributed/distributed-process-client-server
[submodule "distributed-process-supervisor"]
	path = distributed-process-supervisor
	url = https://github.com/haskell-distributed/distributed-process-supervisor
[submodule "distributed-process-task"]
	path = distributed-process-task
	url = https://github.com/haskell-distributed/distributed-process-task
[submodule "distributed-process-execution"]
	path = distributed-process-execution
	url = https://github.com/haskell-distributed/distributed-process-execution
[submodule "distributed-process-tests"]
	path = distributed-process-tests
	url = https://github.com/haskell-distributed/distributed-process-tests
[submodule "azure-service-api"]
	path = azure-service-api
	url = https://github.com/haskell-distributed/azure-service-api
[submodule "distributed-process-azure"]
	path = distributed-process-azure
	url = https://github.com/haskell-distributed/distributed-process-azure
[submodule "distributed-process-demos"]
	path = distributed-process-demos
	url = https://github.com/haskell-distributed/distributed-process-demos
[submodule "distributed-process-simplelocalnet"]
	path = distributed-process-simplelocalnet
	url = https://github.com/haskell-distributed/distributed-process-simplelocalnet
[submodule "distributed-process-p2p"]
	path = distributed-process-p2p
	url = https://bitbucket.org/dpwiz/distributed-process-p2p.git
